{% extends 'bases/page_layout.j2' %}

{% block home %} active {% endblock %}

{% block header_image %}
  <div class="header-filter clear-filter purple-filter" style="height: 500px; background-image: url('https://backgroundcheckall.com/wp-content/uploads/2017/12/netflix-background-9.jpg')">
    <div class="container">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-md-8" style="text-align: center;">
          <h1 class="text-white">Movielens</h1>
          <h3 class="text-white">Enjoy all the best movies in the world.</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid" style="margin-top: -4rem">
    <div class="row h3 ml-1 mt-3">
      Recommended movies:
    </div>
    <div class="row">
      {% for movie in movies %}
        <div  class="col-lg-3 col-md-4 col-sm-6">
          {% include 'components/movie_card.j2' %}
        </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      {% include 'components/pagination.j2' %}
    </div>
  </div>
{% endblock %}
